.header-item {
  text-transform: uppercase;
  text-align: center;
  align-content: center;
  a:hover {
    padding: 5px 10px;
    color: #55606a;
    border-bottom: 2px solid #55606a;
    transition: border-bottom 0.3s;
  }
}
nav {
  width: inherit;
  text-align: center;
  margin: 5px 50px;
  font-weight: 700;
  font-family: 'Roboto', Arial;
  display: grid;
  grid-template-columns: 6fr 2fr 2fr 2fr;
  align-items: center;
  padding: 5px;
  img {
    width: 200px;
    height: auto;
  }
  a {
    color: #95a0a9;
    text-decoration: none;
  }
}
